/**
 * @Author: Jason Y. Wu
 * @Date:   2024-06-16 20:24:37
 * @Last Modified by:   Jason Y. Wu
 * @Last Modified time: 2024-06-17 00:31:59
 */

 body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Bodoni";
    
}

/* Page container */
.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
}

/* Title Font */
.title {
    position: absolute;
      top: 20px;
      left: 30px;
      font-size: 48px; /* Adjust the size as needed */
      font-family: "Bodoni";
      font-weight: bold;
      color: #333; /* Adjust the color as needed */
      z-index: 1000; /* Ensure it stays on top of other elements */
}

.subtitle {
    position: absolute;
    top: 70px;
    left: 30px;
    font-family: "Bodoni";
}

/* Container for the globe */
.globe-wrapper {
    position: relative;
    margin-top: 100px; /* Adjust to add space below the title */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1800px; /* Set your desired width */
    height: 1800px; /* Set your desired height */
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.info span {
    font-weight: bold;
    text-shadow: 0 0 5px #ffffff; /* Adding text shadow for better visibility */
    padding: .2em .6em;
    border-radius: 2px;
    font-size: 2em;
}

/* Prevent selection and provide better touch interaction */
canvas {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Hide SVG */
svg {
    position: fixed;
    top: 0;
    visibility: hidden;
}